*.jl.*.cov
*.jl.cov
*.jl.mem
/docs/build/
*_proto
SWRI*
try.jl
provenance_*
/data/Penicillin_Monitoring/
/data/Penicillin_Corrected/
/data/Penicillin_Monitoring_Batched
/data/Penicillin_Monitoring_Batched.zip
